*{
    margin:0;
    padding: 0
}
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}
a, ul, li{
    text-decoration: none;
    list-style-type: none;
}

.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav"
    "content"
    "footer"
    
    ;
    grid-template-columns: 1fr;
    grid-template-rows:1fr auto;
    background: linear-gradient(#B2F2B8, rgba(199, 241, 193, 0.5)), url("../images/nigflag.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.content-container{
    grid-area: content;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "activity activity"
    "cont cont"
    
    ;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    
    
}
nav{
    grid-area: nav;
    background-color: #14AF22;
    width: 100%;
    height: 100%;
    text-align: center;
}

nav>h1{
    text-transform: uppercase;
    margin: 10px 25px;
    font-size: 32px;
    color: white;
    float: left;
}
.nav-list-container{
    width: 100%;
    height:60px;
  
}
.nav-list-container ul li{
    display: inline-block;
    line-height: 4em;
    margin-left: 20px;
}
.nav-list-container a{
    color: white;
}

#nav-news, #nav-home{
    display: none;
}
#menu-icon{
    width:50px;
}
#menu-icon a{
    display: block;
}

#menu-icon img{
    width: 30px;
    margin: 20px auto;
    margin-left: 50px;
}
.menu-list{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: none;
    top: 10%; 
}
.menu-list ul{
    text-align: left;
}
.menu-list #menu-header{
    width: 100%;
    height:60px;;
    background-color: #B2F2B8
}

.menu-list #menu-header-img{
    width: 50px;
    margin-top:-10px;
    margin-left: 25px;
    display: inline-block;
}
.menu-list #menu-header-img img{
    width: 30px;
    margin-top:10px;
 }
.menu-list #menu-list-header{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 0px;
    color: #000;
}
.menu-list li{
    padding: 15px;
    border-bottom: 2px solid lightgray;
    display: block;
    margin-left: 15px;
    font-family: myfont;
}
.menu-list img{
    width: 40px;
}

.menu-list a{
    color: #14AF22;
}


.content{
    grid-area: cont;
    height:auto;
    text-align: justify;
    margin-top: 0px;    
}

#content-header{
    width: 100%;
    background-color: #14AF22;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
}
#content-list{
    width: 100%;
    height:auto;   
}

.dashboard-details{
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    margin: 20px auto;
  
   
}
.dashboard-header{
    width: 100%;
    background-color: #B2F2B8;
}
.dashboard-sub-heading li{
    display: inline-block;
    
}
/* .dashboard-sub-heading li:nth-child(2){
    
    margin-left: 190px;
}
.dashboard-sub-heading li:nth-child(3), .dashboard-sub-heading li:nth-child(4){
    display: none;
} */

.dashboard-details-left li{
    overflow: hidden;
    padding:5px 0;
 }

 .dashboard-details-left li .office{
     width: auto;
     font-size: 14px;
     
 }
 .dashboard-details-left li .btns {
    float: right;
    font-size: 14px;
    margin-right: 8px;
}
.dashboard-details-left li .btns a{
    margin-left: 5px;
}
.dashboard-sub-heading li{
    overflow: hidden;
    padding:5px 0;
}
.dashboard-sub-heading li .office{
    width: auto;
    font-size: 16px;
}
.dashboard-sub-heading li .btns {
    float: right;
    margin-left: 230px;
}
 /* .dashboard-details-right-parties li{
    display: inline; 
    float:right;
    position: relative;
    top: -85px;
    margin-left: 5px; 
    
 }
 .dashboard-details-right-parties-two li{
    display: inline; 
    float:right;
    position: relative;
    top: -60px;
    left: 115px;
    margin-left: 5px; 
    
 }

 
 
 
 .dashboard-details-right-votes, .dashboard-details-right-candidates{
     display: none;
 } */

 .dashboard-details a{
     color: #14AF22;
 }
#profile-avatar{
    width: 150px;
    height: 130px;
    background-color: white;
    margin: 15px auto;
    border-radius: 50%;
}
#profile-avatar-wrapper{
    
    width: 180px;
    margin: 0 auto;
}
#edit-profile{
    margin: 0 auto;
    width: 80px;
    cursor: pointer;
}


#edit-profile a{
    color:#000;
    display: block;
}
.activities-container{
    grid-area: activity;
    display: block;

}

.loginform{
    width: 90%;
    height: auto;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "avatar avatar"
                         "form-wrapper form-wrapper";
                         background: linear-gradient(#B2F2B8, rgba(199, 241, 193, 0.5)), url("../images/nigflag.jpg");
                         background-size: cover;
                         background-repeat:no-repeat;
                         background-position: center;
                        
}
.login-avatar{
    grid-area: avatar;
    width:100px;
    height:90px;
    margin: auto;
}
.login-avatar img{
    margin:5px auto;
    width: 80px;
    margin-left: 10px;
}

.form-wrapper{
    grid-area: form-wrapper;
    width: 95%;
    height: auto;
    margin:5px auto;
    box-shadow: 5px 5px 5px 3px #14AF22;
    border-radius: 5px;
}

.form-wrapper  #username, #federal, #office-id{
    margin-top: 5px;
    margin-bottom: 10px
}

.form-wrapper  #username-label{
    font-size: 16px;
        
}


.form-wrapper #password-label{
    font-size: 16px;
}
.form-wrapper form{
   margin-top:30px; 
   margin-left: 10px;  
}
.form-wrapper input{
   width: 95%;
   height: 40px;
   float: left;
   margin-top: 20px;
  
}

.form-wrapper input:focus{
    border:2px solid #14AF22;
}

.form-wrapper #checkbox{
    width:15px;
    height: 10px;
    margin-top:20px;
    float: left;
}
.form-wrapper #checkbox-label{
    width:100px;
    height: 10px;
    margin-top:15px;
    float: left;
    font-size: 12px;
}

.form-wrapper h3{
    margin-left: 8px;
}
.btn{
    width:auto;
    height: 15px;
    padding: 10px;
    background-color:#14AF22;
    margin: 10px 12px;
    text-align: center;
    line-height: 1em;
    font-weight:30px;
    float: right;  
}
.btn a{
    display: block;
    color: white;
    font-size: 12px;
}
#loginreturn{
    float: left;
}

#form-wrap2{
    display: none;
    
}

footer{
    grid-area: footer;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 50px;
    color: white;
    line-height: 2em;
    text-align: center;
    background-color: #14AF22;
}


@media only screen and (min-width:768px){
   .wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav"
    "content"
    "footer"
    
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(#B2F2B8, rgba(199, 241, 193, 0.5)), url("../images/nigflag.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
  
    nav{
        grid-area: nav;
        
    }
    nav>h1{
        float: left;
    }
    nav>.nav-list-container{
        float:right;
        width: auto;
        margin-right: 30px;
        
    }

    #nav-news, #nav-home{
        display: inline-block;
    }
    #menu-icon{
        width:50px;
        display: none;
    }

    .menu-list{
        display: block;
        width: 30%;
        height: 88.5%;
        background-color: white;
        position: absolute;
        top: 6.5%; 
        left: -10px;
    }

    .content-container{
        grid-area: content;
    }
    .content-container{
        display: grid;
        grid-template-columns: 1fr, 2fr;
        grid-template-rows:auto;
        grid-template-areas: 
        "activity cont cont"
        "activity cont cont"
        ;
    }
    /* .dashboard-sub-heading li:nth-child(3), .dashboard-sub-heading li:nth-child(4){
        display: inline-block;
    }
    .dashboard-sub-heading li:nth-child(2){
        
        margin-left: 150px;
    }
    .dashboard-sub-heading li:nth-child(3){
        
        margin-left: 50px;
    }
    .dashboard-sub-heading li:nth-child(4){
        
        margin-left: 40px;
    }
    .dashboard-details-right-parties{
        display: inline-block;
        margin-left: 70px
    }
    .dashboard-details-right-votes{
        display: inline-block;
        margin-left: 110px;
    }
    .dashboard-details-right-candidates{
        display: inline-block;
        margin-left: 90px;
    }

    .dashboard-sub-heading li .btns {
        float: right;
        margin-left: 400px;
    } */
    #profile-avatar{
        width: 180px;
        height: 170px;
        background-color: white;
        margin: 15px auto;
        border-radius: 50%;
    }

    .content{
        grid-area: cont;
        width: 550px;
        height:100%;
    }
  
  
    .dashboard-details-right, #personal-details-right{
        display: inline-block;
        float: right;
        margin-right: 50px;
        margin-top: -20px;
        padding-top: 15px;
    }

    #profile-avatar-wrapper{
    
        width: 180px;
        margin: 0 auto;
    }
    #edit-profile{
        margin: 0 auto;
        width: 80px;
        cursor: pointer;
    }
    .activities-container{
        grid-area: activity;
        width: 80%;
        margin-left:-10px;
        display:block;
    
    }

    .loginform{
        grid-area: cont;
        width: 350px;
        height: auto;
        margin: 30px auto;
        background-color: white;
        border: 2px solid #14AF22;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "avatar avatar"
                             "form-wrapper form-wrapper"
    }
    .login-avatar img{
        margin:20px auto;
        width: 80px;
        margin-left: 10px;
    }
    .form-wrapper #checkbox{
        width:10px;
        height: 10px;
        margin-top:20px;
        margin-left:5px;
        float: left;
    }
    .form-wrapper form{
        margin-top:10px; 
        margin-left: 5px; 
        padding-top:20px; 
     }
    .form-wrapper{
        grid-area: form-wrapper;
        width: 95%;
        height: auto;
        margin:20px auto;
        box-shadow: 5px 5px 5px 3px #14AF22;
        border-radius: 5px;
    }


    footer{
        margin-top: 0px;
        height: 20px;
        padding: 1rem;
        line-height: 2em;
        grid-area: footer;
        color: #fff;
        background-color: #14AF22;
    }
}
@media only screen and (min-width:1024px){
  
    nav{
        grid-area: nav;
        
    }
    nav>h1{
        float: left;
    }
    nav>.nav-list-container{
        float:right;
        width: auto;
        
    }

    #nav-news, #nav-home{
        display: inline-block;
    }
    #menu-icon{
        width:50px;
        display: none;
    }

    .menu-list{
        display: block;
        width: 30%;
        height: 91%;
        background-color: white;
        position: absolute;
        top: 5%; 
        left: -10px;
    }

    .content-container{
        grid-area: content;
    }
    .content-container{
        display: grid;
        grid-template-columns: 1fr, 2fr;
        grid-template-rows:auto;
        grid-template-areas: 
        "activity cont cont"
        "activity cont cont"
        ;
    }

    
    /* .dashboard-sub-heading li:nth-child(3), .dashboard-sub-heading li:nth-child(4){
        display: inline-block;
    }
    .dashboard-sub-heading li:nth-child(2){
        
        margin-left: 150px;
    }
    .dashboard-sub-heading li:nth-child(3){
        
        margin-left: 100px;
    }
    .dashboard-sub-heading li:nth-child(4){
        
        margin-left: 100px;
    }
    .dashboard-details-right-parties{
        display: inline-block;
        margin-left: 70px;
    }
    .dashboard-details-right-votes{
        display: inline-block;
        margin-left: 170px;
    }
    .dashboard-details-right-candidates{
        display: inline-block;
        margin-left: 140px;
    }

    .dashboard-sub-heading li .btns {
        float: right;
        margin-left: 586px;
    } */
    #profile-avatar{
        width: 180px;
        height: 170px;
        background-color: white;
        margin: 15px auto;
        border-radius: 50%;
    }

    .content{
        grid-area: cont;
        width: 750px;
        height:100%;
        
    }
  
  
    .dashboard-details-right, #personal-details-right{
        display: inline-block;
        float: right;
        margin-right: 50px;
        margin-top: -20px;
        padding-top: 15px;
    }

    #profile-avatar-wrapper{
    
        width: 180px;
        margin: 0 auto;
    }
    #edit-profile{
        margin: 0 auto;
        width: 80px;
        cursor: pointer;
    }
    .activities-container{
        grid-area: activity;
        width: 100%;
        margin-left:-10px;
        display:block;
    
    }

    #content-list{
        width: 100%;
        height: auto;
    }

    footer{
        margin-top: 0px;
        height: 20px;
        padding: 1rem;
        line-height: 2em;
        grid-area: footer;
        color: #fff;
        background-color: #14AF22;
    }
    .loginform{
        grid-area: cont;
        width: 350px;
        height: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: white;
        border: 2px solid #14AF22;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "avatar avatar"
                             "form-wrapper form-wrapper"
    }
    .login-avatar img{
        margin:20px auto;
        width: 80px;
        margin-left: 10px;
    }
    .form-wrapper #checkbox{
        width:10px;
        height: 10px;
        margin-top:20px;
        margin-left:5px;
        float: left;
    }
    .form-wrapper form{
        margin-top:10px; 
        margin-left: 10px; 
        padding-top:20px; 
     }
    .form-wrapper{
        grid-area: form-wrapper;
        width: 95%;
        height: auto;
        margin:20px auto;
        box-shadow: 5px 5px 5px 3px #14AF22;
        border-radius: 5px;
    }
}

@media only screen and (min-width:1366px){
    .content-container{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows:auto;
        grid-template-areas: 
        "activity cont cont"
        "activity cont cont"
        ;
        
    }

    .menu-list{
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        top: 0%; 
        left: 10px;
    }
    nav>.nav-list-container{
        float:right;
        width: auto;
        margin-right: 60px;
        
    }

    .dashboard-sub-heading li:nth-child(2){
        
        margin-left: 170px;
    }
    .dashboard-sub-heading li:nth-child(3){
        
        margin-left: 200px;
    }
    .dashboard-sub-heading li:nth-child(4){
        
        margin-left: 200px;
    }
    .dashboard-details-right-parties{
        display: inline-block;
        margin-left: 90px;
    }
    .dashboard-details-right-votes{
        display: inline-block;
        margin-left: 270px;
    }
    .dashboard-details-right-candidates{
        display: inline-block;
        margin-left: 240px;
    }
    .dashboard-sub-heading li .btns {
        float: right;
        margin-left: 760px;
    }
    .content{
        grid-area: cont;
        width: 100%;
        height:100%;
        position: relative;
        right: 0px;
    }
   
}
