*{
    margin:0;
    padding: 0
}
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}
a, ul, li{
    text-decoration: none;
    list-style-type: none;
}

.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav"
    "content"
    "footer"
    
    ;
    grid-template-columns: 1fr;
    grid-template-rows:1fr auto;
    background: linear-gradient(#B2F2B8, rgba(199, 241, 193, 0.5)), url("../images/nigflag.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.content-container{
    grid-area: content;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "activity activity"
    "cont cont"
    
    ;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    
    
}
nav{
    grid-area: nav;
    background-color: #14AF22;
    width: 100%;
    height: 100%;
    text-align: center;
   
}

nav>h1{
    text-transform: uppercase;
    margin: 10px 20px;
    font-size: 32px;
    color: white;
    float: left;
}
.nav-list-container{
    width: 100%;
    height:60px;
  
}
.nav-list-container ul li{
    display: inline-block;
    line-height: 4em;
    margin-left: 50px;
}
.nav-list-container a{
    color: white;
}

#nav-news, #nav-home{
    display: none;
}
#menu-icon{
    width:50px;
}
#menu-icon a{
    display: block;
}

#menu-icon img{
    width: 30px;
    margin: 20px auto;
    margin-left: 50px;
}
.menu-list{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: none;
    top: 10%; 
    
}
.menu-list ul{
    text-align: left;
    
}

.menu-list a{
    color: #14AF22;
}
.menu-list #menu-header{
    width: 100%;
    height:60px;;
    background-color: #B2F2B8
}

.menu-list #menu-header-img{
    width: 50px;
    margin-top:-10px;
    margin-left: 25px;
    display: inline-block;
}

.menu-list #menu-header-img img{
   width: 30px;
   margin-top:10px;
}
.menu-list #menu-list-header{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 0px;
    color: #000;
}

.menu-list li{
    padding: 15px;
    border-bottom: 2px solid lightgray;
    display: block;
    margin-left: 15px;
    font-family: myfont;
}
.menu-list img{
    width: 30px;
}


.content{
    grid-area: cont;
    height:auto;
    text-align: justify;
    margin-top: 0px;    
}

#content-header{
    width: 100%;
    background-color: #14AF22;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
}
#content-list{
    width: 100%;
    height:auto;   
}

#dashboard-details, #personal-details{
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    margin: 20px auto;
   
}
#dashboard-details-left, #personal-details-left{
   display: inline-block;
   margin-left: 10px;
   margin-top: -20px;
   padding-top: 15px;
}
#dashboard-details-left li, #dashboard-details-right li, #personal-details-left li, #personal-details-right li{
    margin-top: 30px;
    margin-bottom: 30px;
 }

 #dashboard-details-right, #personal-details-right{
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: -20px;
    padding-top: 15px;
 }
#profile-avatar{
    width: 150px;
    height: 130px;
    background-color: white;
    margin: 15px auto;
    border-radius: 50%;
}

#edit-profile{
    margin: 0 auto;
    width: 80px;
    cursor: pointer;
}
#edit-profile a{
    color:#000;
    display: block;
}
.activities-container{
    grid-area: activity;
    width: 100%;
    height: auto;
    background-color: #B2F2B8;
    margin: 0px auto;
    padding-bottom: 20px;

}

#profile-avatar-wrapper{
    
    width: 180px;
    margin: 0 auto;
}



footer{
    grid-area: footer;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 50px;
    color: white;
    line-height: 2em;
    text-align: center;
    background-color: #14AF22;
}


@media only screen and (min-width:768px){
    .wrapper{
        min-height:100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
          "nav nav nav"
          "content content content"
          "footer footer footer";
    }
  
    nav{
        grid-area: nav;
        
    }
    nav>h1{
        float: left;
    }
    nav>.nav-list-container{
        float:right;
        width: 50%;
        margin-right: -50px;
    }

    #nav-news, #nav-home{
        display: inline-block;
    }
    #menu-icon{
        width:50px;
        display: none;
    }

    .menu-list{
        display: block;
        width: 30%;
        height: 88.5%;
        background-color: white;
        position: absolute;
        top: 6.5%; 
    }

    .menu-list #close{
        display: none;
    }
    .content-container{
        grid-area: content;
    }
    .content-container{
        display: grid;
        grid-template-columns: 1fr, 2fr;
        grid-template-rows:auto;
        grid-template-areas: 
        "activity cont cont"
        "activity cont cont"
        ;
    }

    #content-list{
        
        width: 500px;
        margin: 0px auto;
            
    }
    .content{
        grid-area: cont;
        width: auto;
        height:100%;
        margin: 0 15px;
        
    }
   #dashboard-details, #personal-details{
        margin: 20px auto; 

    }
  
    #dashboard-details-right, #personal-details-right{
        display: inline-block;
        float: right;
        margin-right: 50px;
        margin-top: -20px;
        padding-top: 15px;
    }

    #edit-profile{
        margin: 0 auto;
        width: 90px;
    }
    #profile-avatar-wrapper{
        margin: 0 auto;
        width:250px
    }
    #profile-avatar{
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
    }
    .activities-container{
        grid-area: activity;
        width: 80%;
        height: auto;
        margin-left:-10px;
        display:block;
    
    }
    .menu-list{
        height: 100%;
        width: 250px;
        background-color: white;
        position: relative;
        top: 0%; 
    }
    .menu-list #menu-header-img{
       margin-left: 30px;
    }
    .menu-list li{
        margin-left: 15px;
    }

    footer{
        margin-top: 0px;
        height: 20px;
        padding: 1rem;
        line-height: 2em;
        grid-area: footer;
        color: #fff;
        background-color: #14AF22;
    }
}
@media only screen and (min-width:1024px){
    .wrapper{
        min-height:100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
          "nav nav nav"
          "content content content"
          "footer footer footer";
    }
  
    nav{
        grid-area: nav;
        
    }
    nav>.nav-list-container{
        float:right;
        width: auto;
        margin-right: 40px;
        
    }
    .content-container{
        grid-area: content;
    }
    .content-container{
        display: grid;
        grid-template-columns: 1fr, 2fr;
        grid-template-rows:auto;
        grid-template-areas: 
        "activity cont cont"
        "activity cont cont"
        ;
    }

    .content{
        grid-area: cont;
        width: 750px;
        height:100%;
        
    }  
    #content-list{
        width: auto;
        height: auto;
        
    }

    .dashboard-details-right, #personal-details-right{
        display: inline-block;
        
        padding-top: 15px;
    }
    .activities-container{
        grid-area: activity;
        width: 250px;
        height: 100%;
        margin-left:-10px;
        display:block;
    
    }
    .menu-list{
        height: 100%;
        width: 250px;
        background-color: white;
        position: relative;
        top: 0%; 
    }

    #profile-avatar-wrapper{
    
        width: 180px;
        margin: 0 auto;
    }

    #profile-avatar{
        width: 180px;
        height: 170px;
        background-color: white;
        margin: 15px auto;
        border-radius: 50%;
    }

   
    #dashboard-details, #personal-details{
        margin: 20px auto;
        width: 700px;
    }

    .activities-container{
        grid-area: activity;
        width: 250px;
        height: 100%;
        margin-left:-10px;
        display:block;
    
    }
    .menu-list{
        height: 100%;
        width: 250px;
        background-color: white;
        position: relative;
        top: 0%; 
    }
    .menu-list #menu-header-img{
       margin-left: 30px;
    }
    .menu-list li{
        margin-left: 15px;
    }

    #profile-avatar{
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
    }
  
    footer{
        margin-top: 0px;
        height: 10px;
        padding: 1rem;
        line-height: 1em;
        grid-area: footer;
        color: #fff;
        background-color: #14AF22;
    }
}

@media only screen and (min-width:1366px){
    #dashboard-details, #personal-details{
        margin-left: 70px;
        margin-right: 60px;
        width: 900px;
    }

    #profile-avatar-wrapper{
        position: relative;
        margin: 0 auto;
        width: 250px;
    }
    #content-list{
        width: 900px;
        margin: 0 auto;
        
    }
    .content{
        grid-area: cont;
        width: 1150px;
        height:100%;
       
    }
   #dashboard-details, #personal-details{
        margin: 20px auto; 
    }
    nav>.nav-list-container{
        float:right;
        width: 50%;
        margin-right: -110px;
    }
    nav>h1{
        
        margin: 10px 60px;
        font-size: 32px;
     
    }
    .menu-list{
        margin-left: 0px;
        width: 300px;
    }
    .menu-list #menu-header-img{
        margin-left: 70px;
     }
     .menu-list li{
         margin-left: 50px;
         padding:1em;
     }
}
